<nav>
    <h4>Provinsi & Kabupaten</h4>
    <ul>
        <li><a href="/province" class="btn btn-success mb-4">Add Provinsi</a></li>

        <li><a href="/kabupaten" class="btn btn-success mb-4">Add Kabupaten</a></li>
    </ul>
</nav>